
@{
    ViewBag.Title = "List";
}

<h2>List client-side</h2>

<link rel="stylesheet" href="~/AppScripts/Apps/dist/Apps/styles.css"/>
<script src="~/AppScripts/Apps/dist/Apps/runtime-es2015.js" type="module"></script>
<script src="~/AppScripts/Apps/dist/Apps/polyfills-es2015.js" type="module"></script>
<script src="~/AppScripts/Apps/dist/Apps/runtime-es5.js" nomodule defer></script>
<script src="~/AppScripts/Apps/dist/Apps/polyfills-es5.js" nomodule defer></script>
<script src="~/AppScripts/Apps/dist/Apps/main-es2015.js" type="module"></script>
<script src="~/AppScripts/Apps/dist/Apps/main-es5.js" nomodule defer></script>

<app-root></app-root>