<div class="app-container">
  <div class="header">
    <h2>Connection list</h2>
  </div>
  <div class="actions-container">
    <div class="search">
      <input type="text" class="form-control search-term" placeholder="Search..." [formControl]="globalFilterControl">
    </div>
  </div>
  <ag-grid-angular class="ag-grid ag-theme-balham" [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef" [gridOptions]="gridOptions" [localeText]="localeText"
    [enableCellTextSelection]="true" (gridReady)="onGridReady($event);"
    (rowDoubleClicked)="onRowDoubleClicked($event);">
  </ag-grid-angular>
</div>