div.actions-container {
  margin: 10px 5px 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  div.search {
    input.search-term {
      width: 10em;
    }
  }
}

:host {
  height: 100%;
}
