<div class="actions-container">
    <div class="search">
        <input type="text" class="form-control search-term" placeholder="Search..." [formControl]="globalFilterControl">
    </div>
</div>

<ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-balham" [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef" [gridOptions]="gridOptions" [localeText]="localeText"
    [enableCellTextSelection]="true" (gridReady)="onGridReady($event);"
    (rowDoubleClicked)="onRowDoubleClicked($event);">
</ag-grid-angular>