<div class="app-container">
  <div class="header">
    <h2>Lista przyłączy (np)</h2>
  </div>
  <div class="actions-container">
    <div class="actions">
      <a class="btn btn-success" [href]="newUrl" role="button"><span
          class="glyphicon glyphicon-plus-sign"></span>&nbsp;Nowy</a>
    </div>
    <div class="gridOptions">
      <button class="btn btn-default" (click)="resetGridState();" title="Przywróć ustawienia domyślne" ><span class="glyphicon glyphicon-erase"
          aria-hidden="true"></span></button>

      <button class="btn btn-default" (click)="restoreGridState();"  title="Przywróć ostatnio zapisane ustawienia listy"><span class="glyphicon glyphicon-floppy-open"
          aria-hidden="true"></span></button>

      <button class="btn btn-default" (click)="saveGridState();"  title="Zapisz ustawienia listy"><span class="glyphicon glyphicon-floppy-save"
          aria-hidden="true"></span></button>

      <button #columnsButton id="columnsButton" class="btn btn-default" (click)="selectColumns($event);"  title="Wybierz kolumny"><span
          class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
    </div>
    <div class="search">

      <div class="input-group">
        <input type="text" class="form-control search-term" placeholder="znajdź..." [formControl]="globalFilterControl">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
      </div>
    </div>
  </div>
  <ag-grid-angular class="ag-grid ag-theme-balham" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
    [gridOptions]="gridOptions" [localeText]="localeText" [enableCellTextSelection]="true" [rowData]="rowData"
    (gridReady)="onGridReady($event);" (rowDoubleClicked)="onRowDoubleClicked($event);">
  </ag-grid-angular>
</div>
<app-check-box-list-popup #columnSelectorPopup [formControl]="columnVisibilityControl"></app-check-box-list-popup>